/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 70px;
}

body {
  background-color: rgba(0, 0, 0, .9);
}
/*******************/


/**** header ****/
header {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all .4s linear;
}

h1 {
  color: #e50914;
  cursor: pointer;
}

#search {
  border-radius: 3px;
  padding: 3px;
}

#go {
  cursor: pointer;
  padding: 5px;
  background-color: rgb(229, 9, 20);
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
}
/*****************/


/* contenuto principale */
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1150px;
  margin: 0 auto;
  align-items: stretch;
  justify-content: center;

}

 .not-found {
  color: rgb(180, 180, 180);
  text-align: center;
  padding: 15px;
}
/**********************/


/* Template */
.film-result  {
  margin: 2%;
  padding: 15px;
  flex-basis: calc(100% / 4 - 4%);
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.film-result h3 {
  text-align: center;
}

.film-result ul {
  list-style-type: none;
  margin-top: 10px;
}

.film-result ul li {
  margin: 8px;
}

.film-result ul li strong {
  margin-right: 5px;
}

.film-result img.flag {
  width: 35px;
  vertical-align: middle;
}
/**************/