/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 70px;
}

body {
  background-color: rgba(0, 0, 0, .9);
}
/*******************/


/**** header ****/
header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all .3s linear;
}

h1 {
  color: #e50914;
  cursor: pointer;
}

#search {
  border-radius: 4px;
  padding: 6px 12px;
}

#go {
  cursor: pointer;
  padding: 10px;
  background-color: rgb(229, 9, 20);
  color: #fff;
  border: none;
  border-radius: 3px;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-basis: 16%;
}

select {
  padding: 6px;
  margin-right: 10px;
}
/*****************/


/* contenuto principale */
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
  justify-content: center;

}

 .not-found {
  color: rgb(180, 180, 180);
  text-align: center;
  padding: 15px;
}
/**********************/


/* Template */
.film-result  {
  margin: 1%;
  width: calc(100% / 3 - 2%);
  height: 500px;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  position: relative;
  line-height: 19px;
}

.film-result:hover .cover {
  display: none;
}

.film-result:hover .type {
  display: none;
}

.film-result:hover ul {
  display: block;
  padding: 10px;
}


.film-result:hover h3 {
  display: block;
}


.film-result i {
  color: rgb(229, 9, 20);
}

.cover {
  height: 96%;
}

.not-img {
  position: absolute;
  bottom: 4%;
  left: 0;
  width: 100%;
  height: 89%;
}

.type {
  height: 4%;
  background-color: #e50914;
  color: rgba(0, 0, 0, .9);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.film-result h3 {
  text-align: center;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  display: none;
  font-size: 20px;
}

.not-img~h3 {
  display: block;
}


.film-result ul {
  list-style-type: none;
  margin-top: 40px;
  display: none;
}

.film-result ul li {
  margin: 10px;
}


.film-result ul li strong {
  margin-right: 5px;
}

.film-result img.flag {
  width: 35px;
  vertical-align: middle;
}
/**************/