/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

h1 {
  color: red;
}